.dec-device-detail {
    padding: 20px 30px;
}
.dec-device-detail label{
    font-weight: bold;
    margin-right: 15px;
}
.dv-detail {
    padding: 16px;
    display: block;
    width: 100%;
}
.dv-detail p {
    font-size: 16px;
    font-weight: 700;
    word-break: break-all;
}
.dev-data {
    padding-top: 100px;
}