.main-panel > .content {
    padding: 78px 30px 30px 30px !important;
}
body {
    background: #f5f6fa; }
    body .rdt_TableHeader {
        display: none;
    }
    body .hlidmt {
        padding: 4px 15px 4px 15px;
    }
    .dev-search-text {
        width: 200px;
    }
    #searchOn {
        width: 124px;
    }
    .dev-search-text {
        width: 200px;
    }
    body .navbar.navbar-transparent .search-bar.input-group .form-control {
      color: #344675; }
      body .navbar.navbar-transparent .search-bar.input-group .form-control::placeholder {
        color: #9A9A9A; }
    body .sidebar {
      box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.15); }
      body .sidebar p {
        color: rgba(255, 255, 255, 0.8); }
    body .main-panel {
      background: #f5f6fa; }
    body h1, body h2, body h3, body h4, body h5, body h6, body p, body ol li, body ul li, body pre {
      color: #1d253b !important;margin: 0 }
    body .font-icon-detail i {
      color: #222a42; }
    body .btn:not([data-action]):hover {
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
    body .btn-neutral.btn-link {
      color: rgba(34, 42, 66, 0.7); }
    body .form-control::-moz-placeholder {
      color: rgba(34, 42, 66, 0.4);
      opacity: 1;
      filter: alpha(opacity=100); }
    body .form-control:-moz-placeholder {
      color: rgba(34, 42, 66, 0.4);
      opacity: 1;
      filter: alpha(opacity=100); }
    body .form-control::-webkit-input-placeholder {
      color: rgba(34, 42, 66, 0.4);
      opacity: 1;
      filter: alpha(opacity=100); }
    body .form-control:-ms-input-placeholder {
      color: rgba(34, 42, 66, 0.4);
      opacity: 1;
      filter: alpha(opacity=100); }
    body .has-danger .form-control, body .has-danger .input-group-prepend .input-group-text {
      border-color: #ec250d; }
    body .input-group-prepend .input-group-text {
      border-color: rgba(29, 37, 59, 0.5);
      color: #1d253b; }
    body .form-control {
      color: #222a42;
      border-color: rgba(29, 37, 59, 0.5); }
      body .form-control:focus {
        color: rgba(34, 42, 66, 0.8);
        border-color: #e14eca; }
    body .form-group.no-border .form-control,
    body .form-group.no-border .form-control + .input-group-prepend .input-group-text,
    body .form-group.no-border .form-control + .input-group-append .input-group-text,
    body .form-group.no-border .input-group-prepend .input-group-text,
    body .form-group.no-border .input-group-append .input-group-text,
    body .input-group.no-border .form-control,
    body .input-group.no-border .form-control + .input-group-prepend .input-group-text,
    body .input-group.no-border .form-control + .input-group-append .input-group-text,
    body .input-group.no-border .input-group-prepend .input-group-text,
    body .input-group.no-border .input-group-append .input-group-text {
      background-color: rgba(222, 222, 222, 0.3); }
      body .form-group.no-border .form-control:focus, body .form-group.no-border .form-control:active, body .form-group.no-border .form-control:active,
      body .form-group.no-border .form-control + .input-group-prepend .input-group-text:focus,
      body .form-group.no-border .form-control + .input-group-prepend .input-group-text:active,
      body .form-group.no-border .form-control + .input-group-prepend .input-group-text:active,
      body .form-group.no-border .form-control + .input-group-append .input-group-text:focus,
      body .form-group.no-border .form-control + .input-group-append .input-group-text:active,
      body .form-group.no-border .form-control + .input-group-append .input-group-text:active,
      body .form-group.no-border .input-group-prepend .input-group-text:focus,
      body .form-group.no-border .input-group-prepend .input-group-text:active,
      body .form-group.no-border .input-group-prepend .input-group-text:active,
      body .form-group.no-border .input-group-append .input-group-text:focus,
      body .form-group.no-border .input-group-append .input-group-text:active,
      body .form-group.no-border .input-group-append .input-group-text:active,
      body .input-group.no-border .form-control:focus,
      body .input-group.no-border .form-control:active,
      body .input-group.no-border .form-control:active,
      body .input-group.no-border .form-control + .input-group-prepend .input-group-text:focus,
      body .input-group.no-border .form-control + .input-group-prepend .input-group-text:active,
      body .input-group.no-border .form-control + .input-group-prepend .input-group-text:active,
      body .input-group.no-border .form-control + .input-group-append .input-group-text:focus,
      body .input-group.no-border .form-control + .input-group-append .input-group-text:active,
      body .input-group.no-border .form-control + .input-group-append .input-group-text:active,
      body .input-group.no-border .input-group-prepend .input-group-text:focus,
      body .input-group.no-border .input-group-prepend .input-group-text:active,
      body .input-group.no-border .input-group-prepend .input-group-text:active,
      body .input-group.no-border .input-group-append .input-group-text:focus,
      body .input-group.no-border .input-group-append .input-group-text:active,
      body .input-group.no-border .input-group-append .input-group-text:active {
        background-color: rgba(222, 222, 222, 0.5); }
    body .form-group.no-border .form-control:focus + .input-group-prepend .input-group-text,
    body .form-group.no-border .form-control:focus + .input-group-append .input-group-text,
    body .input-group.no-border .form-control:focus + .input-group-prepend .input-group-text,
    body .input-group.no-border .form-control:focus + .input-group-append .input-group-text {
      background-color: transparent; }
    body .input-group[disabled] .input-group-prepend .input-group-text,
    body .input-group[disabled] .input-group-append .input-group-text {
      background-color: #222a42; }
    body .form-control[disabled], body .form-control[readonly], body fieldset[disabled] .form-control {
      background: #E3E3E3;
      border-color: rgba(29, 37, 59, 0.3); }
    body .input-group-focus .input-group-prepend .input-group-text,
    body .input-group-focus .input-group-append .input-group-text,
    body .input-group-focus .form-control {
      border-color: #e14eca; }
    body .input-group-focus.no-border .input-group-prepend .input-group-text,
    body .input-group-focus.no-border .input-group-append .input-group-text {
      background-color: rgba(222, 222, 222, 0.5); }
    body .input-group-prepend .input-group-text {
      border-right: none; }
    body .input-group-append .input-group-text {
      border-left: none; }
    body .has-danger .form-control:focus, body .has-success.input-group-focus .input-group-append .input-group-text, body .has-success.input-group-focus .input-group-prepend .input-group-text {
      border-color: #ec250d; }
    body .has-success .form-control:focus, body .has-success.input-group-focus .input-group-append .input-group-text, body .has-success.input-group-focus .input-group-prepend .input-group-text {
      border-color: #00bf9a; }
    body .btn.btn-link:hover, body .btn.btn-link:active, body .btn.btn-link:focus {
      color: #9A9A9A !important; }
    body .btn-group .btn.active {
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
    body .card:not(.card-white) {
      background: #ffffff;
      box-shadow: 0 1px 15px 0 rgba(123, 123, 123, 0.05); }
      body .card:not(.card-white) .card-header {
        color: #222a42; }
        body .card:not(.card-white) .card-header a[data-toggle="collapse"] {
          color: #222a42; }
      body .card:not(.card-white) .card-header .card-title, body .card:not(.card-white) .card-body .card-title {
        color: #1d253b; }
      body .card:not(.card-white) .card-body .card-category, body .card:not(.card-white) .card-body .card-description {
        color: #1d253b; }
      body .card:not(.card-white) label:not(.btn) {
        color: #344675; }
      body .card:not(.card-white).nav-pills .nav-item .nav-link {
        color: #444444;
        background-color: rgba(222, 222, 222, 0.3); }
        body .card:not(.card-white).nav-pills .nav-item .nav-link:not(.active):hover {
          background: rgba(222, 222, 222, 0.5); }
        body .card:not(.card-white).nav-pills .nav-item .nav-link.active {
          color: #ffffff; }
      body .card:not(.card-white) .tab-content .tab-pane {
        color: #444444; }
      body .card:not(.card-white) .card {
        box-shadow: none; }
      body .card:not(.card-white).card-plain {
        background: transparent;
        box-shadow: none; }
      body .card:not(.card-white).card-tasks .card-body i {
        color: rgba(34, 42, 66, 0.7); }
        body .card:not(.card-white).card-tasks .card-body i:hover {
          color: #222a42; }
    body .table > tbody > tr > td {
      color: rgba(34, 42, 66, 0.7) !important; }
    body .table > thead > tr > th,
    body .table > tbody > tr > th,
    body .table > tfoot > tr > th,
    body .table > thead > tr > td,
    body .table > tbody > tr > td,
    body .table > tfoot > tr > td {
      border-color: rgba(34, 42, 66, 0.2);
      padding: 12px 7px;
      vertical-align: middle; }
    body .table > thead > tr > th, body .table button.btn-neutral.btn-link {
      color: rgba(34, 42, 66, 0.7); }
    body .footer ul li a {
      color: #1d253b; }
    body .footer .copyright {
      color: #1d253b; }
    body .progress-container .progress, body .progress-container.progress.sm .progress {
      background: rgba(34, 42, 66, 0.1);
      box-shadow: 0 0 0 3px rgba(34, 42, 66, 0.1); }
      body .progress-container .progress .progress-value, body .progress-container.progress.sm .progress .progress-value {
        color: #344675; }
    body .progress-container .progress-badge, body .progress-container.progress.sm .progress-badge {
      color: #1d253b; }
    body .full-page {
      background: #f5f6fa; }
      body .full-page h1, body .full-page h2, body .full-page h3, body .full-page h4, body .full-page h5, body .full-page h6, body .full-page p, body .full-page ol li, body .full-page ul li, body .full-page pre {
        color: #1d253b !important; }
      body .full-page .description {
        color: #9A9A9A; }
      body .full-page .footer ul li a {
        color: #1d253b; }
      body .full-page .footer .copyright {
        color: #1d253b; }
    body .nav-pills .nav-item .nav-link:not(.active) {
      background: #d3d7e9;
      color: #1d253b; }
      body .nav-pills .nav-item .nav-link:not(.active):hover {
        background: #cccccc; }
        .rs-picker-daterange-menu {
          opacity: 1 !important;
        }