.card-login {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #34bda3 !important;
    position: fixed !important;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}
.card-login h1, .card-login  h2, .card-login  h3, .card-login  h4, .card-login  h5, .card-login  h6, .card-login  p, .card-login label {
    color: #fff !important
}
.card-login input[type="text"],.card-login input[type="email"], .card-login input[type="password"] {
    background: #fff;
    color: #1d253b;
}
.card form label + .form-control {
    margin-bottom: 5px !important;
}
.card form label + .form-control + .error {
    color: #f00 !important;
}